<%- include('../layout/header.ejs') %>

<div class=" center-div mt-5" id="login">
    <div class="container w-25  py-5  rounded">
        <div class="title text-center pb-2">
            <h2 class="font-weight-bold">Admin Page</h2>
        </div>
        <% 
        if(typeof message !== 'undefined'){
          %>
           <small style="color: red;">  <%= message %>   </small>
           <%
        }

%>
        <form action="" method="POST" class="pt-2">
            <div class="form-group pb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="" name="email" required >
            </div>
            <div class="form-group pb-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="" required >
         </div>
         
         <div class="submit-button text-center mt-3">
            <button type="submit" class="btn-sumbit rounded-pill">Submit</button>
         </div>
         
        </form>
    </div>
</div>


<%- include('../layout/footer.ejs') %>