<%- include('../layout/header.ejs') %>



<div class=" center-div mt-2  " >
    <div class="container w-25 border py-5  border-info rounded">
        <div class="title text-center pb-5 ">
            <h2 class="font-weight-bold">Add New User</h2>
            
        </div>
        <form action="" method="POST" class="pt-2">
            <div class="form-group pb-3">
                <label for="name">Full Name:</label>
                <input type="text" class="form-control " name="name" placeholder="" required>
         </div>
            <div class="form-group pb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="" name="email" required>
               
            </div>
            <div class="form-group pb-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="" required>
         </div>   
           
         <div class="form-group pb-3">
            <label for="mobile">Mobile No:</label>
            <input type="text" class="form-control" name="mno" placeholder="" required >
     </div> 
       <% 
       if(typeof message !== 'undifined'){
            %> 
              <p style="color: red;"><%= message %></p>
              <%
       }
     
       %>
       <br>

         <div class="submit-button text-center">
            <button type="submit" value="Add User" class="btn-sumbit rounded-pill mt-2 w-25 border-0 ">Submit</button>
         </div>
         <a class="login text-warning" href="/admin/home">Go Back</a>
        </form>

    </div>
</div>

<style>
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('../assets/img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} 
.form-control{
  background-color: rgba(255, 255, 255, 0.539);  
}
</style>



<%- include('../layout/footer.ejs') %>