<%- include('../layout/header.ejs') %>



<div class=" center-div mt-5  " >
    <div class="container w-25  py-3 rounded">
        <div class="title text-center pb-1 ">
            <h2 class="font-weight-bold">Add New User</h2>
            
        </div>
        <form action="" method="POST" class="pt-2">
            <div class="form-group pb-3">
                <label for="name">Full Name:</label>
                <input type="text" class="form-control " name="name" placeholder="" required>
         </div>
            <div class="form-group pb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="" name="email" required>
               
            </div>
            <div class="form-group pb-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="" required>
         </div>   
           
         <div class="form-group pb-1">
            <label for="mobile">Mobile No:</label>
            <input type="text" class="form-control" name="mno" placeholder="" required >
     </div> 
       <% 
       if(typeof message !== 'undifined'){
            %> 
              <p style="color: red;"><%= message %></p>
              <%
       }
     
       %>
       <br>

         <div class="submit-button text-center pb-2">
            <button type="submit" value="Add User" class="btn-sumbit rounded-pill w-75  pb-1">Submit</button>
         </div>
         <a class="Goback  text-white" href="/admin/home">Go Back</a>
        </form>

    </div>
</div>




<%- include('../layout/footer.ejs') %>