<%- include('../layout/header.ejs') %>

<nav class="navbar bg-black">
    <div class="container-fluid">
      <a class="navbar-brand text-white">MOVIE WORLD</a>
      <form class="d-flex" role="search">
        
       
       <button class="btn btn-success"> <a class="logout text-white" href="/logout">Logout</a></button>
       
      </form>
    </div>
  </nav>

  

  <%- include('../layout/footer.ejs') %>