<%- include('../layout/header.ejs') %>

<div class=" center-div mt-3 " >
    <div class="container w-25  rounded">
        <div class="title text-center pb-3 ">
            <h2 class="font-weight-bold">Signup Page</h2>
            
        </div>
        <form action="" method="POST" class="pt-2">
            <div class="form-group pb-3">
                <label for="name">Full Name:</label>
                <input type="text" class="form-control " name="name" placeholder="" required>
         </div>
            <div class="form-group pb-3">
                <label for="email">Email:</label>
                <input type="email" class="form-control" placeholder="" name="email" required>
               
            </div>
            <div class="form-group pb-3">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="" required>
         </div>
         <div class="form-group ">
            <label for="mobile">Mobile No:</label>
            <input type="text" class="form-control" name="mno" placeholder="" required >
     </div> 
       <% 
       if(typeof message !== 'undifined'){
            %> 
              <p style="color: rgb(31, 241, 31);"><%= message %></p>
              <%
       }
     
       %>
       <br>
       <div class="submit-button text-center pt-1">
        <button type="submit" class="btn-sumbit rounded-pill w-75">Submit</button>
     </div>
        <p class="log-text">Already have an acoount? <a class="login " href="/">Login</a> </p> 
        </form>

    </div>
</div>





<%- include('../layout/footer.ejs') %>
 